@font-face {
    font-family: "Fira Code";
    src: url("./fonts/FiraCode-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Fira Code";
    src: url("./fonts/FiraCode-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

// Variables

$footer-height: 6rem;

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #30323d;
    color: #1bd844;
    font-family: "Fira Code";
    // line-height: ;
}

ul {
    list-style: none;
}

.resources ul li {
    margin-bottom: 5px;
}

.resources h2,
h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.resources ul {
    margin-bottom: 25px;
}

.header {
    grid-area: header;
    background-color: #006464;
    width: 100%;
    min-height: 100px;
    border-bottom: 2px solid #ff841f;
    text-align: center;
}

.header-nav {
    list-style: none;
    text-align: center;
    padding: 0 25px 0 25px;
}

.header-nav li {
    font-size: calc(14px + 0.5vw);
}

.logo {
    filter: drop-shadow(4px 1px 2px #2b2b2b);
    width: 10em;
}

.error {
    color: red;
}

.title {
    text-shadow: 4px 4px 2px rgb(0, 0, 0);
    font-weight: bold;
}

#page-container {
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 50%;
}

#content {
    grid-area: main;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

a,
.navbar-light .navbar-nav .nav-link {
    color: #ff841f;
    text-decoration: none;
}

a:hover,
.navbar-light:hover .navbar-nav:hover .nav-link:hover {
    color: rgb(255, 255, 255);
}

h2,
h3 {
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
}

footer {
    width: 100%;
    height: $footer-height; /* Footer height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    grid-area: footer;
    text-align: center;
    background-color: #006464;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
}

footer > p {
    font-size: 1em;
    margin: 0;
}

#toes-are-epic {
    font-weight: bold;
    font-size: 1.5em;
}
